{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
