<div class="flex flex-row gap-4">
  <svg class="stroke-on-surface stroke-2 fill-surface" width="50" height="50">
    <circle cx="25" cy="25" r="20"></circle>
  </svg>

  <svg class="stroke-on-primary stroke-2 fill-primary" width="50" height="50">
    <circle cx="25" cy="25" r="20"></circle>
  </svg>

  <svg
    class="stroke-on-secondary stroke-2 fill-secondary"
    width="50"
    height="50"
  >
    <circle cx="25" cy="25" r="20"></circle>
  </svg>

  <svg class="stroke-on-tertiary stroke-2 fill-tertiary" width="50" height="50">
    <circle cx="25" cy="25" r="20"></circle>
  </svg>
</div>
