---
import Layout from '@layouts/PageLayout.astro';
import Section from '@components/Section.astro';
---

<Layout>
  <Section>
    <div class="flex flex-col gap-4 rounded-lg p-4 bg-surface-100">
      <div class="bg-surface text-on-surface p-4">
        This is a div with a surface background color and text color.
      </div>

      <div class="bg-primary text-on-primary p-4">
        This is a div with a primary background color and text color.
      </div>

      <p class="bg-secondary text-on-secondary p-4">
        This is a paragraph with a secondary background color and text color.
      </p>

      <p class="bg-tertiary text-on-tertiary p-4">
        This is a paragraph with a tertiary background color and text color.
      </p>

      <div class="flex flex-row gap-4">
        <svg class="fill-primary" width="50" height="50">
          <circle cx="25" cy="25" r="20"></circle>
        </svg>
        <svg class="fill-secondary" width="50" height="50">
          <circle cx="25" cy="25" r="20"></circle>
        </svg>
        <svg class="fill-tertiary" width="50" height="50">
          <circle cx="25" cy="25" r="20"></circle>
        </svg>
      </div>

      <div class="p-4 bg-surface-50 text-on-surface-50">
        This is a div with a surface background color of shade 50 and text color
        of shade 50.
      </div>

      <div class="p-4 bg-surface-100 text-on-surface-100">
        This is a div with a surface background color of shade 100 and text
        color of shade 100.
      </div>

      <div class="p-4 bg-surface-200 text-on-surface-200">
        This is a div with a surface background color of shade 200 and text
        color of shade 200.
      </div>

      <div class="p-4 bg-surface-300 text-on-surface-300">
        This is a div with a surface background color of shade 300 and text
        color of shade 300.
      </div>

      <div class="p-4 bg-surface-400 text-on-surface-400">
        This is a div with a surface background color of shade 400 and text
        color of shade 400.
      </div>

      <button class="outline-tertiary-300 bg-primary-300 text-on-primary-300">
        This is a button with a tertiary outline color of shade 300, primary
        background color of shade 300 and text color of shade 300.
      </button>

      <div class="ring-tertiary-200/40">
        This is a div with a tertiary ring color of shade 200 and 40% opacity.
      </div>

      <input
        type="radio"
        class="accent-tertiary-500"
        name="test"
        value="test"
      />
      <input
        type="checkbox"
        class="border-tertiary-500 bg-tertiary-500 checked:bg-tertiary-500 hover:bg-tertiary-500 ring-tertiary-500 focus:bg-tertiary-500 border"
        name="test"
        value="test"
      />
    </div>
  </Section>
</Layout>
