---
type Props = {
  position: 'bottom-to-top' | 'top-to-bottom';
  color: string;
};

const { position, color } = Astro.props;
---

<div class="w-96"></div>
<div
  class:list={{
    ['fixed -z-10 h-96 w-96']: true,
    [`rounded-full opacity-10 blur-3xl md:blur-3xl ${color}`]: true,
    ['left-0 top-[75%] transition-all duration-1000 dark:top-0']:
      position === 'top-to-bottom',
    ['bottom-[75%] right-0 transition-all duration-1000 dark:bottom-0']:
      position === 'bottom-to-top',
  }}
>
</div>
