---
type Props = {
  position: 'bottom' | 'top';
  color: string,
};

const { position, color } = Astro.props;
---

<div
  class:list={{
    [`-z-10 fixed h-32 w-32 lg:w-80 lg:h-80 rounded-full blur-3xl md:blur-3xl opacity-50 ${color}`]: true,
    ['left-0 top-0']: position === 'top',
    ['right-0 bottom-0']: position === 'bottom',
  }}
>
</div>
