---
import Container from './Container.astro';
import ThemeToggle from './ThemeToggle.astro';
import { Icon } from 'astro-icon/components';
---

<header class="flex w-full justify-center px-4" transition:persist>
  <Container>
    <nav class="flex flex-row justify-between">
      <a href="/">danko.nobre</a>
      <div class="flex flex-row items-center gap-4">
        <a href="https://github.com/dankonobre/">
          <Icon name="mdi:github" class="h-6 w-6" />
        </a>
        <ThemeToggle />
      </div>
    </nav>
  </Container>
</header>
