---
import Container from './Container.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="flex w-full justify-center" transition:persist>
  <Container>
    <nav class="flex flex-row justify-between">
      <a href="/">danko.nobre</a>
      <ThemeToggle />
    </nav>
  </Container>
</header>
