---
import Section from './Section.astro';
---

<Section>
  <h1>Oi, me chamo Danilo Nobre 👋</h1>
  <p>(pode me chamar de danko se quiser)</p>
  <ul>
    <li>
      Sou <strong>Desenvolvedor Web</strong> no <a
        href="https://www.tse.jus.br/"
        target="_blank"
        aria-label="Acessar site do TSE em uma nova janela."
        >Tribunal Superior Eleitoral</a
      >, onde trabalho com soluções educacionais.
    </li>
    <li>
      Sou co-fundador da <a href="https://spacewiz.dev/">Space Wizard Studios</a
      > onde coordeno o planejamento e produção aplicações web e nativas.
    </li>
  </ul>
</Section>
