---
import Section from './Section.astro';
---

<Section>
  <div class="bg-surface text-on-surface rounded-lg p-4 shadow-sm transition-all duration-100" >
    <header>
      <h1>Oi, me chamo Danilo Nobre 👋</h1>
      <p><small>(mas pode me chamar de danko se preferir 😊)</small></p>
    </header>
    <section class="mt-4 space-y-4">
      <p>
        Sempre tive muita paixão em audiovisual, principalmente no
        desenvolvimento Web e de Jogos Digitais.
      </p>
      <p>
        Hoje trabalho no <a
          href="https://www.tse.jus.br/"
          target="_blank"
          aria-label="Acessar site do TSE em uma nova janela."
          >Tribunal Superior Eleitoral</a
        > com soluções educacionais e também sou co-fundador da <a
          href="https://spacewiz.dev/">Space Wizard Studios</a
        > onde coordeno o planejamento e produção aplicações web e nativas.
      </p>
    </section>
  </div>
</Section>
