---
import { getCollection } from 'astro:content';
const projectsEntries = await getCollection('projects');
---

<ul>
  {
    projectsEntries.map((blogPostEntry) => (
      <li>
        <a href={`/projects/${blogPostEntry.slug}`}>
          {blogPostEntry.data.title}
        </a>
      </li>
    ))
  }
</ul>
