---
import '@assets/styles/base.scss';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<!doctype html>
<html lang="pt" class="motion-safe:scroll-smooth 2xl:text-5">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <body
    class="bg-danko-mauve-50 dark:bg-danko-mauve-950 transition-all duration-1000"
  >
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      function colorMode() {
        if (
          localStorage.theme === 'light' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: light)').matches)
        ) {
          document.documentElement.classList.add('light');
          document.documentElement.classList.remove('dark');
        } else {
          document.documentElement.classList.add('dark');
          document.documentElement.classList.remove('light');
        }
      }

      colorMode();
      document.addEventListener('astro:after-swap', colorMode);
    </script>
  </body>
</html>
