---
import '@assets/styles/base.scss';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<!doctype html>
<html lang="pt" class="motion-safe:scroll-smooth 2xl:text-5">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <body class="text-neutral-200 bg-neutral-950">
    <Header />

    <slot />

    <Footer />
  </body>
</html>
